################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/MovieDatabase_NetCoreApp/obj/Debug/netcoreapp1.0
