<div [hidden]="submitted">

    <form novalidate #movieRecordForm="ngForm" (ngSubmit)="onSubmit(movieRecordForm.value)">

        <div class="form-group">
            <label for="title" class="control-label">Movie title</label>
            <input class="form-control" required type="text" autofocus placeholder="Title"
                   [(ngModel)]="movieRecord.title" name="title" #title="ngModel">
            <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
                Title is required
            </div>
        </div>

        <div class="form-group">
            <label for="description" class="control-label">Description</label>
            <input class="form-control" type="text" placeholder="description"
                   [(ngModel)]="movieRecord.description" name="description" ngControl="description">
        </div>

        <div class="form-group">
            <label for="imdbUrl" class="control-label">IMDB URL</label>
            <input class="form-control" type="text" placeholder="ImdbUrl"
                   [(ngModel)]="movieRecord.imdbUrl" name="imdbUrl">
        </div>

        <div class="form-group">
            <label for="coverUrl" class="control-label">Cover URL</label>
            <input class="form-control" type="text" placeholder="CoverUrl"
                   [(ngModel)]="movieRecord.coverUrl" name="coverUrl">
        </div>

        <div class="form-group">
            <label for="year_released" class="control-label">Year released</label>
            <input class="form-control" validateYearReleased type="number" autofocus placeholder="Year released"
                   [(ngModel)]="movieRecord.year_released" name="year_released" #yearReleased="ngModel">
            <div *ngIf="movieRecordForm?.controls?.year_released?.hasError('yearReleasedValid') && movieRecordForm?.controls?.year_released?.touched" class="alert alert-danger">
                Please enter a number in a valid range (1000 - 2999).
            </div>
        </div>

        <div class="form-group">
            <label for="movie_rating" class="control-label">Movie rating</label><br />
            <movie-rating-selector (select)="movieRecord.rating = $event" [selectedValue]="movieRecord.rating"></movie-rating-selector>
        </div>

        <div class="form-group">
            <button type="button" (click)="close()" class="btn btn-primary custom-btn">Cancel</button>
            <button type="submit" class="btn btn-primary custom-btn" [disabled]="!movieRecordForm.form.valid">Submit</button>
        </div>
    </form>

    <error-notification [errorMessage]="errorMessage"></error-notification>
</div>
<div [hidden]="!submitted">
    Submitting form... please wait
</div>
