<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link asp-href-include="~/css/*.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/Site2.css" />*@
    <script asp-src-include="~/js/jquery.js"></script>
    <script asp-src-include="~/js/bootstrap.js"></script>

    <!-- 1. Load libraries -->
    <!-- Polyfill for older browsers -->
    <script src="js/angular/shim.min.js"></script>
    <script src="js/angular/zone.js"></script>
    <script src="js/angular/Reflect.js"></script>
    <script src="js/angular/system.src.js"></script>
    <!-- 2. Configure SystemJS -->
    <script src="systemjs.config.js"></script>
    <script>
      System.import('app').catch(function(err){ console.error(err); });
    </script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <p>Author: Anton Sirocka / <a href="https://www.linkedin.com/in/anton-sirocka-5b0a31108" target="_blank">LinkedIn</a></p>
    <p>Built using Angular 2 (2.1.2), Typescript, ASP.NET Core (1.0.0-preview2-003131) and Entity Framework Core 1.0.0</p>
    <p>Source code &#64; GitHub <a href="https://github.com/antonsirocka/angular2-moviedb" target="_blank">https://github.com/antonsirocka/angular2-moviedb</a></p>
</body>
</html>
