<div class="col-md-1">
    <img (click)="upVoteThisRecord()" src="../../../assets/up.png" width="28" alt="upvote" style="cursor: pointer;" />
    {{upVotes}}
</div>
<div class="col-md-10">

    <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" [style.width]="upVoteWidth">                        
        </div>
        <div class="progress-bar progress-bar-danger" role="progressbar" [style.width]="downVoteWidth">
        </div>
    </div>

</div>
<div class="col-md-1">
    <img (click)="downVoteThisRecord()" src="../../../assets/down.png" width="28" alt="downvote" style="cursor: pointer;" />
    {{downVotes}}
</div>
